<!-- <div class="modal-body">
  <div id="cart-items">
    <p>HI MANSI</p>
        <%#= cart_item.product.Name %>
        <%#= product.price %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <%#= link_to "Proceed To Buy", class: "btn btn-primary"%>
</div> -->